// *************************** FONTS **************************

@font-face {
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url(../fonts/Roboto-Light.ttf);
}

$font1: "Allura";
$font2: "Poppins", sans-serif;
$font3: "Roboto", sans-serif;

// **************************** COLORS **************************

$withe1: #eee;
$black1: #21201e;
$grey: rgb(182, 182, 182);
$brown: rgb(166, 114, 69);

// ************************* MIXINS *********************************

@mixin childCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin alignChildren($space) {
    display: flex;
    align-items: center;
    justify-content: $space;
}

// *************************** GENERAL SETT ***************************

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    text-align: center;
    font-family: $font3;
    background: $black1;
}
