header {
    background: url(/assets/img/bg-slider-06.jpg) center/cover;
    padding: 0 50px;
    color: $withe1;

    nav {
        height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;

        .logo {
            font-family: $font1;
            font-weight: 100;
            font-size: 2rem;
            text-align: left;
            width: 10%;
        }

        ul {
            @include alignChildren(space-between);

            li {
                cursor: pointer;
            }
        }

        .nav-middle {
            width: 70%;

            li {
                text-transform: uppercase;
                font-size: 0.8rem;
                font-family: $font2;
            }
        }

        .nav-right {
            width: 10%;
            padding-left: 30px;

            i {
                transition: 0.2s;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

    .header-container {
        height: 88vh;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin-top: -150px;

            h2 {
                color: $brown;
                font-family: $font1;
                font-weight: 300;
                font-size: 3rem;
            }

            h1 {
                margin-top: -28px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 10px;
                font-size: 3.2rem;
                font-family: $font2;
            }
            img {
                height: 27px;
                margin: 40px 0;
            }
            h6 {
                text-transform: uppercase;
                letter-spacing: 6px;
                font-size: 0.8rem;
                font-weight: 100;
            }
        }
    }
}
