main {
    .section-1 {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 450px;

        .right-part {
            background: url(/assets/img/store-01.jpg) center/cover;
        }
    }
}
